<% layout("layouts/boilerplate") %> 

    <h1><%= camp.title %></h1>
    <h3><%=camp.location %></h3>

    <a href="/campgrounds/<%= camp._id  %>/edit">Edit</a>
    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
      <button>DELETE !</button>
    </form>
